@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'EB Garamond', serif;
    --font3: 'Dosis', sans-serif;
    
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100%;
    background-color: darkgray;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p{
    padding-bottom: 50px;

}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;

}

a:hover, footer a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3vw;
   
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(61, 51, 51);
    color: white;

}

section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.321);
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}
